<h1>Aufgabe editieren</h1>

<%= simple_form_for @item do |f| %>
  <%= f.input :title, label: "Aufgabe" %>
  <%= f.input :description, label: "Beschreibung" %>
  <%= f.button :submit, "Editieren" %>
<% end %>